# Datasets
/datasets/

# Project Outputs
/outputs/
/dashboard/data/
*.parquet

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Datasets and Large Files
*.csv

